#list {
  //border: 2px solid lightgrey;
  //box-shadow: 2px 2px 2px lightgrey;
  padding: 10px;
  min-width:250px;
  max-width:600px;
  border: solid 1px black;
  border-bottom: none;
  //margin: 10px auto;
}


.item-list {
  width: 500px;
  max-width: 100%;
  border: solid 1px black;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.item-box {
  padding: 10px 10px;
  //border-bottom: solid 1px #ccc;
  border-bottom: solid 1px black;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  background: white;
  font-size: 14px;
}

.item-content{
  font-size: 1.5em;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.item-box:last-child {
  border: none;
}

.item-list.cdk-drop-list-dragging .item-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-handle {
  top:5px;
  right: 10px;
  cursor: move;
}

::ng-deep {
  .mat-checkbox-inner-container {
      left: 5px !important;
    }
  }

  .done {
    text-decoration: line-through;
    font-family: 'Old Standard TT';
  }

  .going {
    text-decoration: none;
    font-family: 'Old Standard TT';
  }

.btn-addItem:hover {
    border: 1px solid #000;
}
