<div id="list" *ngIf="list" [ngStyle]="{'background-color': list.color, 'color': list.textcolor}">
  <div class="row" >
    <h1 class="col-10">{{list.name}}</h1>
    <button type="button" class="btn" (click)="editList(list.id)"><i class="fas fa-edit"></i></button>
    <button type="button" class="btn" (click)="deleteList(list.id)"><i class="fas fa-trash-alt"></i></button>
  </div>
</div>
<div class="float-right">
  <button type="btn btn-success" class="btn" (click)="addItem(list.id)"><i class="fas fa-plus-circle"></i> Add new item</button>
</div>

<div *ngIf="items && items.length > 0" >
  <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
    <div class="example-box row" *ngFor="let item of items" cdkDrag>
      <div class="col-8">
        <input type="checkbox" class="option-input radio">
        {{item.title}}
      </div>
      <div class="col-4">
        <button type="button" class="btn" (click)="editItem(item.id)"><i class="fas fa-edit"></i></button>
        <button type="button" class="btn" (click)="deleteItem(item.id)"><i class="fas fa-trash-alt"></i></button>
      </div>
    </div>
  </div>
</div>
